.main {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main a {
  text-decoration-color: #272727;
}

.nameGroup {
  height: 44px;
  padding: 8px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name,
.handle {
  font-family: 'Work Sans', sans-serif;
  line-height: 19px;
  color: #272727;
}

.name {
  font-size: 22px;
  font-weight: 700;
}

.handle {
  font-size: 18px;
}
