.main {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main a {
  text-decoration-color: #272727;
}

.headerRow {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
}

.nameGroup {
  height: 44px;
  padding: 8px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name,
.pubdate,
.handle,
.title,
.description {
  font-family: 'Work Sans', sans-serif;
  line-height: 19px;
  color: #272727;
}

.pubdate {
  margin-left: auto;
  font-size: 16px;
}

.name {
  font-size: 22px;
  font-weight: 700;
}

.handle {
  font-size: 18px;
}

.title {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.description {
  font-size: 16px;
  text-decoration: none;
  line-height: 1.3;
}

.icon {
  color: #272727;
}
