.main {
  margin: 0 auto;
  max-width: 800px;
  padding: 28px 0 28px;
}

.title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 28px;
  color: #272727;
}

.text {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #272727;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #272727;
  text-align: center;
}
