.main {
  padding: 16px 18px;
  height: 82px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #E20606;
  box-shadow: 0 2px 1px #c9c9c9;
}
