.main {
  padding: 16px 30px;
  height: 82px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e20606;
  box-shadow: 0 2px 1px #c9c9c9;
}

.logo {
  width: 279px;
  height: 73px;
}

@media (max-width: 720px) {
  .logo {
    display: none;
  }
}

@media (max-width: 440px) {
  .main {
    padding: 20px 10px;
    height: 60px;
  }
}
