.main {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #272727;
}

.name,
.handle {
  font-family: 'Work Sans', sans-serif;
  line-height: 19px;
  color: #272727;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.handle {
  margin-left: auto;
}

.icon {
  margin-right: 40px;
}

@media (max-width: 865px) {
  .icon {
    margin-right: 30px;
  }

  .name,
  .handle {
    font-size: 16px;
  }
}
